In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import math
from word2number import w2n

In [0]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/hiring.csv")

In [0]:
df = df.rename(columns={'test_score(out of 10)':'test_score','interview_score(out of 10)':'interview_score','salary($)':'salary'})

In [0]:
testScoreMedian = math.floor(df.test_score.median())

In [47]:
testScoreMedian

8

In [48]:
df['test_score'] = df.test_score.fillna(testScoreMedian)
df['experience'] = df.experience.fillna('zero')
df

  experience  test_score  interview_score  salary
0       zero         8.0                9   50000
1       zero         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         8.0                7   72000
7     eleven         7.0                8   80000

In [49]:
df.experience = df.experience.apply(w2n.word_to_num)
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [53]:
linearRegrresionMD = linear_model.LinearRegression()
linearRegrresionMD.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [56]:
linearRegrresionMD.predict([[2,9.0,6]])

array([53205.96797671])

In [57]:
linearRegrresionMD.predict([[12,10,10]])

array([92002.18340611])