In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [25]:
df = pd.read_csv("salaries.csv")

In [26]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [27]:
feature_input = df.drop(columns = 'salary_more_then_100k', axis='columns')
target_input = df['salary_more_then_100k']

In [28]:
le = LabelEncoder()

In [29]:
feature_input['company_le'] = le.fit_transform(feature_input['company'])
feature_input['job_le'] = le.fit_transform(feature_input['job'])
feature_input['degree_le'] = le.fit_transform(feature_input['degree'])

In [30]:
feature_input = feature_input.drop(['company','job','degree'], axis='columns')

In [57]:
feature_input

    company_le  job_le  degree_le
0            2       2          0
1            2       2          1
2            2       0          0
3            2       0          1
4            2       1          0
5            2       1          1
6            0       2          1
7            0       1          0
8            0       0          0
9            0       0          1
10           1       2          0
11           1       2          1
12           1       0          0
13           1       0          1
14           1       1          0
15           1       1          1

In [52]:
X_train, X_test, y_train, y_test = train_test_split(feature_input,target_input, test_size=0.1)

In [53]:
model = DecisionTreeClassifier()

In [54]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [55]:
model.score(X_test,y_test)

1.0

In [56]:
model.predict([[2,0,1]])

array([1], dtype=int64)